#new__writer__container {
    position: sticky;
    top: 0;
    margin: 2rem 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    div {
        padding: 1rem 1rem;
        background-color: #dcecf5;
        position: sticky;
        top: 0;

        #new__writer__container__title {
            font-size: 1.5rem;
        }

        h5 {
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }

        p {
            margin-top: 0;
        }

        $form-border: 10px;

        button {
            margin-top: 2rem;
            height: 2rem;
            width: 10rem;
            background: transparent;
            background-color: #191919;
            border: solid 1px transparent;
            border-radius: 20px;
            color: #c4dffa;

            &:hover {
                cursor: pointer;
                color: white;
                transition: 0.5s ease;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    #new__writer__container {
        // padding-right: 15rem;
    }
}

@media only screen and (max-width: 1250px) {
    #new__writer__container {
        display: none;
    }
}
