/* Not Found */

#not-found {
    height: 90vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #14aa84;

    h1 {
        color: white;
        font-size: 5rem;
        text-align: center;
        margin: 0;
    }

    #not-found__image {
        height: auto;
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    #story {
        #story__container__image {
            grid-template-columns: auto;
        }
    }
}

@media only screen and (max-width: 750px) {
    .story__button__container__back {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 700px) {
    #account {
        > div {
            padding: 0 3rem;
            width: auto;
        }
    }
}

@media only screen and (max-width: 1000px) {
    #new__story {
        padding: 0;
        #new__story__input__title,
        .new__story__input__text {
            width: auto;
        }
    }
}

@media only screen and (max-width: 500px) {
    #new__story {
        .rdw-editor-wrapper .rdw-editor-toolbar {
            display: none;
        }
    }
}
