#post {
    background-color: #ffffff;
    margin: 2rem 0;
    padding: 1rem 2rem;
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: 1fr auto;
    border-radius: 2px;
    transition: 0.2s ease-in all;

    &:hover {
        background-color: darken(#ffffff, 2%);
    }

    .post__column {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: 1fr;

        #post__column__profile__image__container,
        #post__column__image__container {
            height: 100%;
            padding: 0;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 0.5em;
            grid-template-rows: 100%;

            h2 {
                height: auto;
                width: auto;
                align-self: center;
                font-size: 0.8rem;

                margin: 0;
                span {
                    color: #5f5d5d;
                }
            }
        }

        #post__column__image__container {
            height: 100%;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr;
            padding: 0;
            #post__column__image {
                justify-self: center;
                height: 15vh;
                width: 100%;
            }
        }

        #post__column__text__container {
            h2 {
                margin: 0;
            }

            p {
                margin: 0.5rem 0;
                color: #5f5d5d;

                span {
                    background-color: #f2f2f2;
                    padding: 0.2rem 0.5rem;
                    border-radius: 20px;
                }
            }
        }
    }

    .post__column:nth-child(1) {
        grid-template-rows: 2rem;
    }
}

@media only screen and (max-width: 1250px) {
    #post {
        grid-template-columns: 2fr 1fr;

        .post__column:nth-child(2) {
            width: auto;
            justify-self: center;
        }
    }
}

@media only screen and (max-width: 1100px) {
    #post {
        grid-template-columns: 1fr;

        .post__column:nth-child(2) {
            grid-row: 1;
        }
    }
}
